---
---


@import "minima";


*{
//font-family: 'Roboto', sans-serif;

    

}

article p {
    font-size: 20px; 
}

ul.post-list > li {
    font-size: 18px;
}

.post-title{
    font-family: "Darker Grotesque",sans-serif;
    color: #12111b;
    font-size: 45px;
    line-height: 64px;
    font-weight: 500;
    text-align: center;

}

.post-list .post-link{
    color: #12111b;
    font-size: 35px;
    line-height: 37px;
    font-weight: 500;

}

.post-list li{
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 13px;
}

#image-container {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;

}

.menu-entry {
    margin: 5px;
    width: 200px;
    position: relative;
    display: block;
    box-shadow: 0;
    transition: box-shadow 0.2s ease-in-out;
    border-radius: 35px;
}

.menu-entry:hover {
    box-shadow: 5px 5px 5px 5px #ccc;
}

.menu-entry img {
    border-radius: 35px;
    position: relative;
    border: 1px solid #ccc;
}

.menu-entry .desc {
    position: absolute;
    top: calc(50% - 15px);
    text-align: center;
    padding: 5px 0px 5px 0px;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.menu-entry a {
    color: white;
    font-size: 25px;
    text-transform: uppercase;
    text-align: center;
}

#archive-title {
font-family: "Darker Grotesque",sans-serif;
color: #12111b;
font-size: 45px;
line-height: 64px;
font-weight: 500;
text-align: center;
}